<div class="items">
  <article class="item thumb span-1">
    <a href="{{link}}"><img src="images/{{image}}" alt=""></a>
  </article>
  <article class="item thumb span-3" style="padding:1vh;">
    <h1 style="font-size:150%;">{{ title }}</h1>
    <p>{{ text }}</p>
    <p style="position: absolute; bottom: 0; right: 1vh; text-align: right; width: 100%;">
      <span *ngIf="link"><a href="{{ link }}" target="_blank">read more</a> | </span>
      <a href="/">return to main</a>
    </p>
  </article>
</div>
